body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(jf.jfif);
  background-size: cover;
}

.start-btn {
  margin-top: 100vh;
  position: absolute;
}

.game-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  padding: 50px;
  opacity: 0.9;
}

#game-board {
  border: 6px solid #e1e1e1;
  border-radius: 15px;
  margin-right: 50px;
}

.game-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-info h1 {
  font-size: 60px;
  margin-bottom: 40px;
  color: #333;
  font-weight: 900;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

.game-info p {
  font-size: 28px;
  margin-bottom: 25px;
  color: #555;
  font-weight: 700;
}

.game-info button {
  background-color: #490ff9;
  color: white;
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 37px 0;
  cursor: pointer;
  border-radius: 30px;
  box-shadow: 0 0 30px rgba(121, 134, 203, 0.5);
  transition: transform 0.3s, box-shadow 0.3s;
}

#up {
  bottom: 126px;
  left: 97vh;
}

.game-info button:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 40px rgba(121, 134, 203, 0.7);
}

.tetromino {
  background-image: linear-gradient(to bottom right, #7986cb, #9fa8da);
  border-radius: 6px;
  box-shadow: 0 0 15px rgba(121, 134, 203, 0.5);
}

@media (min-width:320px) and (max-width: 800px) {
  body {
    justify-content: flex-start;
    padding: 20px;
    height: auto;
    background-size: contain;
  }

  .game-container {
    flex-direction: column;
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: none;
  }

  #game-board {
    margin-right: 0;
  }

  .game-info {
    text-align: center;
    margin-top: 5px;
    padding: 5px;
  }

  .game-info h1 {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .game-info p {
    font-size: 12px;
    margin-bottom: 4px;
  }

  .game-info button {
    font-size: 10px;
    padding: 4px 8px;
    margin: 3px 0;
  }

  .mobile-controls {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
  }

  .control-btn {
    font-size: 14px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 0;
  }

  #mus {
    display: none;
  }
}
