/* Общие стили */
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(jf.jfif);
  background-size: cover;
}
.start-btn{
  margin-top: 100vh;
    position: absolute;

}
.game-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  padding: 50px;
  opacity: 0.9;
}

/* Стили игрового поля */
#game-board {
  border: 6px solid #e1e1e1;
  border-radius: 15px;
  margin-right: 50px;
}

/* Стили информационной панели */
.game-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-info h1 {
  font-size: 60px;
  margin-bottom: 40px;
  color: #333;
  font-weight: 900;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

.game-info p {
  font-size: 28px;
  margin-bottom: 25px;
  color: #555;
  font-weight: 700;
}

/* Стили кнопок */
.game-info button {
  background-color: #490ff9;
  color: white;
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 37px 0;
  cursor: pointer;
  border-radius: 30px;
  box-shadow: 0 0 30px rgba(121, 134, 203, 0.5);
  transition: transform 0.3s, box-shadow 0.3s;
}
#up{
  bottom: 126px;
  left: 97vh;
}
.game-info button:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 40px rgba(121, 134, 203, 0.7);
}

/* Стили тетрамино */
.tetromino {
  background-image: linear-gradient(to bottom right, #7986cb, #9fa8da);
  border-radius: 6px;
  box-shadow: 0 0 15px rgba(121, 134, 203, 0.5);
}

@media (min-width:768px) and (max-width: 1023px) {
  /* Дополнительные стили для мобильных устройств */
  .game-container {
    flex-direction: column;
    padding: 30px;
  }

  #game-board {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .game-info {
    margin-right: 0;
    text-align: center;
  }

  .game-info h1 {
    font-size: 48px;
    margin-bottom: 30px;
  }

  .game-info p {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .game-info button {
    padding: 14px 28px; /* Уменьшаем размер кнопок для мобильных устройств */
  }

  .mobile-controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .control-btn {
    background-color: #7986cb;
    color: white;
    border: none;
    width: 60px;
    height: 60px;
    font-size: 24px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 8px 15px rgba(121, 134, 203, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .control-btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(121, 134, 203, 0.7);
  }

  .control-btn i {
    pointer-events: none;
  }
}
